body {
    background-color: #2E2E2E;
}


.navbar-top {
    position: fixed;
    width: 73%;
    height: 70px;
    left: 0px;
    top: 0px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    background: #2E2E2E;
}
